{% extends 'base.html' %}



{% block chatWindow %}

<div class="content-area-wrapper container-xxl p-0">
    <div class="content-right">
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row"></div>
            <div class="content-body">
                <div class="body-content-overlay"></div>
                <section class="chat-app-window">
                    <!-- To load Conversation -->
                    <div class="start-chat-area">
                        <div class="mb-1 start-chat-icon">
                            <i data-feather="message-square"></i>
                        </div>
                        <h4 class="sidebar-toggle start-chat-text">Start Conversation</h4>
                    </div>
                    <!-- / To load Conversation -->
                    <!-- Main chat area -->
                    <!-- Active Chat -->
                    <div class="active-chat d-none">
                        <!-- Chat Header -->
                        <div class="chat-navbar">
                            <header class="chat-header">
                                <div class="d-flex align-items-center">
                                    <div class=" avatar-border  m-0 me-1">
                                        <svg x="0" y="0" class="icon_ae0b42" aria-hidden="true" role="img"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                            viewBox="0 0 24 24">
                                            <path fill="currentColor" fill-rule="evenodd"
                                                d="M10.99 3.16A1 1 0 1 0 9 2.84L8.15 8H4a1 1 0 0 0 0 2h3.82l-.67 4H3a1 1 0 1 0 0 2h3.82l-.8 4.84a1 1 0 0 0 1.97.32L8.85 16h4.97l-.8 4.84a1 1 0 0 0 1.97.32l.86-5.16H20a1 1 0 1 0 0-2h-3.82l.67-4H21a1 1 0 1 0 0-2h-3.82l.8-4.84a1 1 0 1 0-1.97-.32L15.15 8h-4.97l.8-4.84ZM14.15 14l.67-4H9.85l-.67 4h4.97Z"
                                                clip-rule="evenodd" class=""></path>
                                        </svg>
                                    </div>
                                    <h6 class="mb-0">Channel</h6>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="dropdown">
                                        <button class="btn-icon btn btn-transparent hide-arrow btn-sm dropdown-toggle"
                                            type="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i data-feather="more-vertical" id="chat-header-actions"
                                                class="font-medium-2"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end"
                                            aria-labelledby="chat-header-actions">
                                            <a class="dropdown-item" href="#">Mute Notifications</a>
                                            <a class="dropdown-item" href="#">Clear Chat</a>
                                        </div>
                                    </div>
                                </div>
                            </header>
                        </div>
                        <!--/ Chat Header -->
                        <!-- User Chat messages -->
                        <div class="user-chats ps ">
                            <div class="chats">
                                <div class="chat">
                                    <div class="chat-avatar">
                                        <svg x="0" y="0" class="icon_ae0b42" aria-hidden="true" role="img"
                                            xmlns="http://www.w3.org/2000/svg" width="36" height="36  " fill="none"
                                            viewBox="0 0 24 24">
                                            <path fill="currentColor" fill-rule="evenodd"
                                                d="M10.99 3.16A1 1 0 1 0 9 2.84L8.15 8H4a1 1 0 0 0 0 2h3.82l-.67 4H3a1 1 0 1 0 0 2h3.82l-.8 4.84a1 1 0 0 0 1.97.32L8.85 16h4.97l-.8 4.84a1 1 0 0 0 1.97.32l.86-5.16H20a1 1 0 1 0 0-2h-3.82l.67-4H21a1 1 0 1 0 0-2h-3.82l.8-4.84a1 1 0 1 0-1.97-.32L15.15 8h-4.97l.8-4.84ZM14.15 14l.67-4H9.85l-.67 4h4.97Z"
                                                clip-rule="evenodd" class=""></path>
                                        </svg>
                                    </div>
                                    <div class="chat-body">
                                        <div class="chat-content">
                                            <p>How can we help? We're here for you! 😄</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat chat-left">
                                    <div class="chat-avatar">
                                        <svg x="0" y="0" class="icon_ae0b42" aria-hidden="true" role="img"
                                            xmlns="http://www.w3.org/2000/svg" width="36" height="36  " fill="none"
                                            viewBox="0 0 24 24">
                                            <path fill="currentColor" fill-rule="evenodd"
                                                d="M10.99 3.16A1 1 0 1 0 9 2.84L8.15 8H4a1 1 0 0 0 0 2h3.82l-.67 4H3a1 1 0 1 0 0 2h3.82l-.8 4.84a1 1 0 0 0 1.97.32L8.85 16h4.97l-.8 4.84a1 1 0 0 0 1.97.32l.86-5.16H20a1 1 0 1 0 0-2h-3.82l.67-4H21a1 1 0 1 0 0-2h-3.82l.8-4.84a1 1 0 1 0-1.97-.32L15.15 8h-4.97l.8-4.84ZM14.15 14l.67-4H9.85l-.67 4h4.97Z"
                                                clip-rule="evenodd" class=""></path>
                                        </svg>
                                    </div>
                                    <div class="chat-body">
                                        <div class="chat-content">
                                            <p>Hey John, I am looking for the best admin template.</p>
                                            <p>Could you please help me to find it out? 🤔</p>
                                        </div>
                                        <div class="chat-content">
                                            <p>It should be Bootstrap 4 compatible.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider">
                                    <div class="divider-text">Yesterday</div>
                                </div>
                                <div class="chat">
                                    <div class="chat-avatar">
                                        <svg x="0" y="0" class="icon_ae0b42" aria-hidden="true" role="img"
                                            xmlns="http://www.w3.org/2000/svg" width="36" height="36  " fill="none"
                                            viewBox="0 0 24 24">
                                            <path fill="currentColor" fill-rule="evenodd"
                                                d="M10.99 3.16A1 1 0 1 0 9 2.84L8.15 8H4a1 1 0 0 0 0 2h3.82l-.67 4H3a1 1 0 1 0 0 2h3.82l-.8 4.84a1 1 0 0 0 1.97.32L8.85 16h4.97l-.8 4.84a1 1 0 0 0 1.97.32l.86-5.16H20a1 1 0 1 0 0-2h-3.82l.67-4H21a1 1 0 1 0 0-2h-3.82l.8-4.84a1 1 0 1 0-1.97-.32L15.15 8h-4.97l.8-4.84ZM14.15 14l.67-4H9.85l-.67 4h4.97Z"
                                                clip-rule="evenodd" class=""></path>
                                        </svg>
                                    </div>
                                    <div class="chat-body">
                                        <div class="chat-content">
                                            <p>Absolutely!</p>
                                        </div>
                                        <div class="chat-content">
                                            <p>Vuexy admin is the responsive bootstrap 4 admin template.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat chat-left">
                                    <div class="chat-avatar">
                                        <svg x="0" y="0" class="icon_ae0b42" aria-hidden="true" role="img"
                                            xmlns="http://www.w3.org/2000/svg" width="36" height="36  " fill="none"
                                            viewBox="0 0 24 24">
                                            <path fill="currentColor" fill-rule="evenodd"
                                                d="M10.99 3.16A1 1 0 1 0 9 2.84L8.15 8H4a1 1 0 0 0 0 2h3.82l-.67 4H3a1 1 0 1 0 0 2h3.82l-.8 4.84a1 1 0 0 0 1.97.32L8.85 16h4.97l-.8 4.84a1 1 0 0 0 1.97.32l.86-5.16H20a1 1 0 1 0 0-2h-3.82l.67-4H21a1 1 0 1 0 0-2h-3.82l.8-4.84a1 1 0 1 0-1.97-.32L15.15 8h-4.97l.8-4.84ZM14.15 14l.67-4H9.85l-.67 4h4.97Z"
                                                clip-rule="evenodd" class=""></path>
                                        </svg>
                                    </div>
                                    <div class="chat-body">
                                        <div class="chat-content">
                                            <p>Looks clean and fresh UI. 😃</p>
                                        </div>
                                        <div class="chat-content">
                                            <p>It's perfect for my next project.</p>
                                        </div>
                                        <div class="chat-content">
                                            <p>How can I purchase it?</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat">
                                    <div class="chat-avatar">
                                        <svg x="0" y="0" class="icon_ae0b42" aria-hidden="true" role="img"
                                            xmlns="http://www.w3.org/2000/svg" width="36" height="36  " fill="none"
                                            viewBox="0 0 24 24">
                                            <path fill="currentColor" fill-rule="evenodd"
                                                d="M10.99 3.16A1 1 0 1 0 9 2.84L8.15 8H4a1 1 0 0 0 0 2h3.82l-.67 4H3a1 1 0 1 0 0 2h3.82l-.8 4.84a1 1 0 0 0 1.97.32L8.85 16h4.97l-.8 4.84a1 1 0 0 0 1.97.32l.86-5.16H20a1 1 0 1 0 0-2h-3.82l.67-4H21a1 1 0 1 0 0-2h-3.82l.8-4.84a1 1 0 1 0-1.97-.32L15.15 8h-4.97l.8-4.84ZM14.15 14l.67-4H9.85l-.67 4h4.97Z"
                                                clip-rule="evenodd" class=""></path>
                                        </svg>
                                    </div>
                                    <div class="chat-body">
                                        <div class="chat-content">
                                            <p>Thanks, from ThemeForest.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat chat-left">
                                    <div class="chat-avatar">
                                        <svg x="0" y="0" class="icon_ae0b42" aria-hidden="true" role="img"
                                            xmlns="http://www.w3.org/2000/svg" width="36" height="36  " fill="none"
                                            viewBox="0 0 24 24">
                                            <path fill="currentColor" fill-rule="evenodd"
                                                d="M10.99 3.16A1 1 0 1 0 9 2.84L8.15 8H4a1 1 0 0 0 0 2h3.82l-.67 4H3a1 1 0 1 0 0 2h3.82l-.8 4.84a1 1 0 0 0 1.97.32L8.85 16h4.97l-.8 4.84a1 1 0 0 0 1.97.32l.86-5.16H20a1 1 0 1 0 0-2h-3.82l.67-4H21a1 1 0 1 0 0-2h-3.82l.8-4.84a1 1 0 1 0-1.97-.32L15.15 8h-4.97l.8-4.84ZM14.15 14l.67-4H9.85l-.67 4h4.97Z"
                                                clip-rule="evenodd" class=""></path>
                                        </svg>
                                    </div>
                                    <div class="chat-body">
                                        <div class="chat-content">
                                            <p>I will purchase it for sure. 👍</p>
                                        </div>
                                        <div class="chat-content">
                                            <p>Thanks.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat">
                                    <div class="chat-avatar">
                                        <svg x="0" y="0" class="icon_ae0b42" aria-hidden="true" role="img"
                                            xmlns="http://www.w3.org/2000/svg" width="36" height="36  " fill="none"
                                            viewBox="0 0 24 24">
                                            <path fill="currentColor" fill-rule="evenodd"
                                                d="M10.99 3.16A1 1 0 1 0 9 2.84L8.15 8H4a1 1 0 0 0 0 2h3.82l-.67 4H3a1 1 0 1 0 0 2h3.82l-.8 4.84a1 1 0 0 0 1.97.32L8.85 16h4.97l-.8 4.84a1 1 0 0 0 1.97.32l.86-5.16H20a1 1 0 1 0 0-2h-3.82l.67-4H21a1 1 0 1 0 0-2h-3.82l.8-4.84a1 1 0 1 0-1.97-.32L15.15 8h-4.97l.8-4.84ZM14.15 14l.67-4H9.85l-.67 4h4.97Z"
                                                clip-rule="evenodd" class=""></path>
                                        </svg>
                                    </div>
                                    <div class="chat-body">
                                        <div class="chat-content">
                                            <p>Great, Feel free to get in touch on</p>
                                        </div>
                                        <div class="chat-content">
                                            <p>https://pixinvent.ticksy.com/</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- User Chat messages -->
                        <!-- Submit Chat form -->
                        <form class="chat-app-form" action="javascript:void(0);" onsubmit="enterChat();">
                            <div class="input-group input-group-merge me-1 form-send-message">
                                <input type="text" class="form-control message" placeholder="Type your message ">
                            </div>
                            <button type="button" class="btn btn-primary send" onclick="enterChat();">
                                <i data-feather="send" class="d-lg-none"></i>
                                <span class="d-none d-lg-block">Send</span>
                            </button>
                        </form>
                        <!--/ Submit Chat form -->
                    </div>
                    <!--/ Active Chat -->
                </section>
                <!--/ Main chat area -->
                <!-- User Chat profile right area -->
                <div class="user-profile-sidebar">
                    <header class="user-profile-header">
                        <span class="close-icon">
                            <i data-feather="x"></i>
                        </span>
                        <!-- User Profile image with name -->
                        <div class="header-profile-sidebar">
                            <div class="chat-fixed-search">
                                <div class="d-flex align-items-center w-100">
                                    <div class="input-group input-group-merge ms-1 w-100">
                                        <span class="input-group-text round">
                                            <i data-feather="search" class="text-muted"></i>
                                        </span>
                                        <input type="text" class="form-control round" id="chat-search"
                                            placeholder="Search" aria-label="Search..." aria-describedby="chat-search">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / User Profile image with name -->
                    </header>
                    <div class="user-profile-sidebar-area">
                        <div class="sidebar-left">
                            <div class="sidebar">
                                <!-- Chat Sidebar area -->
                                <div class="sidebar-content">
                                    <span class="sidebar-close-icon">
                                        <i data-feather="x"></i>
                                    </span>
                                    <!-- Sidebar Users start -->
                                    <div id="users-list" class="chat-user-list-wrapper list-group">
                                        <h4 class="chat-list-title">Chats</h4>
                                        <ul class="chat-users-list chat-list media-list">
                                            <li>
                                                <span class="avatar">
                                                    <img src="app-assets/images/portrait/small/avatar-s-3.jpg"
                                                        height="42" width="42" alt="Generic placeholder image">
                                                    <span class="avatar-status-offline"></span>
                                                </span>
                                                <div class="chat-info flex-grow-1">
                                                    <h5 class="mb-0">Elizabeth Elliott</h5>
                                                    <p class="card-text text-truncate">
                                                        Cake pie jelly jelly beans. Marzipan lemon drops halvah
                                                        cake. Pudding cookie lemon drops icing
                                                    </p>
                                                </div>
                                                <div class="chat-meta text-nowrap">
                                                    <small class="float-end mb-25 chat-time">4:14 PM</small>
                                                    <span class="badge bg-danger rounded-pill float-end">3</span>
                                                </div>
                                            </li>
                                            <li>
                                                <span class="avatar">
                                                    <img src="app-assets/images/portrait/small/avatar-s-7.jpg"
                                                        height="42" width="42" alt="Generic placeholder image">
                                                    <span class="avatar-status-busy"></span>
                                                </span>
                                                <div class="chat-info flex-grow-1">
                                                    <h5 class="mb-0">Kristopher Candy</h5>
                                                    <p class="card-text text-truncate">
                                                        Cake pie jelly jelly beans. Marzipan lemon drops halvah
                                                        cake. Pudding cookie lemon drops icing
                                                    </p>
                                                </div>
                                                <div class="chat-meta text-nowrap">
                                                    <small class="float-end mb-25 chat-time">9:09 AM</small>
                                                </div>
                                            </li>
                                            <li>
                                                <span class="avatar">
                                                    <img src="app-assets/images/portrait/small/avatar-s-8.jpg"
                                                        height="42" width="42" alt="Generic placeholder image">
                                                    <span class="avatar-status-away"></span>
                                                </span>
                                                <div class="chat-info flex-grow-1">
                                                    <h5 class="mb-0">Sarah Woods</h5>
                                                    <p class="card-text text-truncate">
                                                        Cake pie jelly jelly beans. Marzipan lemon drops halvah
                                                        cake. Pudding cookie lemon drops icing.
                                                    </p>
                                                </div>
                                                <div class="chat-meta text-nowrap">
                                                    <small class="float-end mb-25 chat-time">5:48 PM</small>
                                                </div>
                                            </li>
                                            <li class="no-results">
                                                <h6 class="mb-0">No Chats Found</h6>
                                            </li>
                                        </ul>
                                        <h4 class="chat-list-title">Contacts</h4>
                                        <ul class="chat-users-list contact-list media-list">
                                            <li>
                                                <span class="avatar">
                                                    <img src="app-assets/images/portrait/small/avatar-s-7.jpg"
                                                        height="42" width="42" alt="Generic placeholder image">
                                                </span>
                                                <div class="chat-info">
                                                    <h5 class="mb-0">Jenny Perich</h5>
                                                    <p class="card-text text-truncate">
                                                        Tart dragée carrot cake chocolate bar. Chocolate cake
                                                        jelly beans caramels tootsie roll candy canes.
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <span class="avatar">
                                                    <img src="app-assets/images/portrait/small/avatar-s-5.jpg"
                                                        height="42" width="42" alt="Generic placeholder image">
                                                </span>
                                                <div class="chat-info">
                                                    <h5 class="mb-0">Sarah Montgomery</h5>
                                                    <p class="card-text text-truncate">
                                                        Tootsie roll sesame snaps biscuit icing jelly-o biscuit
                                                        chupa chups powder.
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <span class="avatar">
                                                    <img src="app-assets/images/portrait/small/avatar-s-9.jpg"
                                                        height="42" width="42" alt="Generic placeholder image">
                                                </span>
                                                <div class="chat-info">
                                                    <h5 class="mb-0">Heather Howell</h5>
                                                    <p class="card-text text-truncate">
                                                        Tart cookie dragée sesame snaps halvah. Fruitcake sugar
                                                        plum gummies cheesecake toffee.
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <span class="avatar">
                                                    <img src="app-assets/images/portrait/small/avatar-s-7.jpg"
                                                        height="42" width="42" alt="Generic placeholder image">
                                                </span>
                                                <div class="chat-info">
                                                    <h5 class="mb-0">Kelly Reyes</h5>
                                                    <p class="card-text text-truncate">
                                                        Wafer toffee tart jelly cake croissant chocolate bar
                                                        cupcake donut. Fruitcake gingerbread tiramisu sweet
                                                        jelly-o.
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <span class="avatar">
                                                    <img src="app-assets/images/portrait/small/avatar-s-15.jpg"
                                                        height="42" width="42" alt="Generic placeholder image">
                                                </span>
                                                <div class="chat-info">
                                                    <h5 class="mb-0">Kristopher Candy</h5>
                                                    <p class="card-text text-truncate">
                                                        Marzipan bonbon chocolate bar biscuit lemon drops muffin
                                                        jelly-o sweet jujubes.
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <span class="avatar">
                                                    <img src="app-assets/images/portrait/small/avatar-s-14.jpg"
                                                        height="42" width="42" alt="Generic placeholder image">
                                                </span>
                                                <div class="chat-info">
                                                    <h5 class="mb-0">Vincent Nelson</h5>
                                                    <p class="card-text text-truncate">
                                                        Toffee gummi bears sugar plum gummi bears chocolate bar
                                                        donut. Pudding cookie lemon drops icing
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <span class="avatar">
                                                    <img src="app-assets/images/portrait/small/avatar-s-17.jpg"
                                                        height="42" width="42" alt="Generic placeholder image">
                                                </span>
                                                <div class="chat-info">
                                                    <h5 class="mb-0">Jimmy Parker</h5>
                                                    <p class="card-text text-truncate">
                                                        Powder halvah jelly beans topping caramels muffin dragée
                                                        lollipop oat cake.
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <span class="avatar">
                                                    <img src="app-assets/images/portrait/small/avatar-s-3.jpg"
                                                        height="42" width="42" alt="Generic placeholder image">
                                                </span>
                                                <div class="chat-info">
                                                    <h5 class="mb-0">Elizabeth Elliott</h5>
                                                    <p class="card-text text-truncate">
                                                        Candy canes ice cream jelly beans carrot cake chocolate
                                                        bar pastry candy jelly-o.
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <span class="avatar">
                                                    <img src="app-assets/images/portrait/small/avatar-s-13.jpg"
                                                        height="42" width="42" alt="Generic placeholder image">
                                                </span>
                                                <div class="chat-info">
                                                    <h5 class="mb-0">Nelson D'souza</h5>
                                                    <p class="card-text text-truncate">
                                                        Macaroon candy canes apple pie soufflé lemon drops
                                                        chocolate cake chocolate sweet roll.
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="no-results">
                                                <h6 class="mb-0">No Contacts Found</h6>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Sidebar Users end -->
                                </div>
                                <!--/ Chat Sidebar area -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ User Chat profile right area -->
            </div>
        </div>
        <!-- Edit User Modal -->
        <div class="modal fade" id="editchannel" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered modal-edit-user">
                <div class="modal-content">
                    <div class="modal-header bg-transparent">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body pb-5 px-sm-5 pt-50">
                        <div class="text-center mb-2">
                            <h1 class="mb-1">Add/Edit Channel Information</h1>
                        </div>
                        <form id="editchannelForm" class="row gy-1 pt-75" onsubmit="false">
                            <div class="col-12">
                                <label class="form-label" for="modalEditChannelName">Channel Name</label>
                                <input type="text" id="modalEditChannelName" name="modalEditChannelName"
                                    class="form-control" placeholder="john.doe.007">
                            </div>
                            <div class="col-12 text-center mt-2 pt-50">
                                <button type="submit" class="btn btn-primary me-1">Submit</button>
                                <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                                    aria-label="Close">
                                    Discard
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Edit User Modal -->
    </div>
</div>

{% endblock %}